<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin - Orders</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/main.css" />

    <script
      src="https://kit.fontawesome.com/e21136580c.js"
      crossorigin="anonymous"
    ></script>
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header-admin') %>

    <main class="admin-incoming-order-cart">
      <div class="spacer"></div>
      <!-- <h4>admin_orders.ejs template - template 3 of 5</h4> -->

      <div id="admin-orders">
        <h2 class="admin-orders-title">Incoming order from Bob</h2>

        <%- console.log('placedOrders in template file: ', placedOrders); %>

        <table class="admin-orders-tb">
          <div class="admin-order-item">
            <% for (let placedOrder of placedOrders) { %>
            <tr id=" <% placedOrder.id %>">
              <td class="admin-orders-foodname"><%= placedOrder.item %></td>
              <td class="quantity admin-orders-quantity">
                x<%= placedOrder.quantity %>
              </td>
              <td class="admin-orders-price">
                <%= (placedOrder.price * placedOrder.quantity) / 100 %>
              </td>
            </tr>
            <% runningPrice += placedOrder.price * placedOrder.quantity } %>
          </div>
        </table>

        <div class="admin-orders-bottom">
          <span class="admin-orders-total">Total </span>
          <span id="total" class="admin-orders-total-price"
            >$ <%= runningPrice / 100%></span
          >
        </div>

        <p class="admin-orders-p">
          Let&nbsp;<strong> Bob </strong> &nbsp;know how long until
          satisfaction.
        </p>

        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">Now</button>
          <button id="twilio" type="button" class="btn btn-primary">
            10 mins
          </button>
          <button type="button" class="btn btn-primary">20 mins</button>
          <button type="button" class="btn btn-primary">Custom</button>
        </div>
      </div>
    </main>

    <%- include('partials/_footer') %>
  </body>
</html>
