<!DOCTYPE html>
<html lang="en">

<head>
  <title>Order</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

    <h4>order.ejs template - template 5 of 5</h4>

    <%- console.log('placedOrders in template file: ', placedOrders); %>

    <table>
    <% for (let placedOrder of placedOrders) { %>
        <tr id=' <% placedOrder.id %>'>
      <td>
        <%= placedOrder.item %>
      </td>
      <td class="quantity">
        <%= placedOrder.quantity %>
      </td>
      <td></td>
      <td>
        <%= placedOrder.price * placedOrder.quantity %>
      </td>
      </tr>
    <%
      runningPrice += placedOrder.price * placedOrder.quantity
    } %>
      <tr>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td id="total">$<%= runningPrice %></td>
      </tr>
    </table>


    <h2>Success! Your order has been placed</h2>

    <p id="targetMe"><i>You will a receive an SMS text message with an <strong>estimated pick up time.</strong></i></p>

</body>

</html>
